build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo
.eggs/

action_vae/logs/
action_vae/mvae/
action_vae/actions.h5

calvin/dataset/task_ABC_D/
calvin/dataset/task_ABC_D.zip

tapsampling/pretrained_models/prism-qwen25-extra-dinosiglip-224px-0_5b/
tapsampling/pretrained_models/Qwen2.5-0.5B/
tapsampling/pretrained_models/vit_large_patch14_reg4_dinov2.lvd142m/
tapsampling/pretrained_models/ViT-SO400M-14-SigLip/
tapsampling/wandb/
tapsampling/official_checkpoint/
tapsampling/complete_percentage.pkl

video-prediction-policy/evaluation_logs/
video-prediction-policy/logs/
video-prediction-policy/official_checkpoints/