accelerate
diffusers==0.28.0
transformers==4.47.0
huggingface_hub==0.24.0
ninja
draccus
json-numpy
tensorflow==2.15.0
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.15.0
tensorflow-graphics==2021.12.3
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.16.1
timm==0.9.10
einops
peft
decord
tqdm
safetensors
omegaconf
opencv-python
pydantic
compel
easydict
rotary_embedding_torch
imageio[ffmpeg]
gradio==4.22.0
httpx[socks]
numpy>1.2
hydra-core==1.1.1
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
ftfy
torch==2.0.1
torchsde
torchdiffeq
vit-pytorch==1.4.4
pytorch-lightning==1.9.5
voltron-robotics
gitpython
scipy
sentence-transformers
torchsde
einops
torchdiffeq
gym
moviepy==1.0.3
tqdm
termcolor
wandb
einops_exts
